<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Thanks for purchasing one {{ this.stock }} stock !</h1>
        <hr><br>
        <router-link to="/" class="btn btn-primary btn-sm">Back Home</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      stock: '',
    };
  },
  methods: {
    getChargeInfo() {
      // const path = `http://localhost:5000/charge/${this.$route.params.id}`;
      const path = `/charge/${this.$route.params.id}`;
      axios.get(path)
        .then((response) => {
          this.stock = response.data.charge.description;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getChargeInfo();
  },
};
</script>
