<template>
  <div class="container">
    <button type="button" class="btn btn-primary">{{ msg }}</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Ping',
  
  data() {
    return {
      msg: '',
    };
  },

  methods: {
    getMessage() {
      // const path = 'http://127.0.0.1:5000/ping';
      const path = '/ping';
      axios.get(path)
        .then((response)=> {
          this.msg = response.data;
        })
        .catch(function(error) {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },

  created() {
    this.getMessage();
  },
};

</script>